@import "node_modules/bootstrap/scss/bootstrap";




/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    font-size: 13px;
    }

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 5;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1E88E5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 0px;
    background: #1E88E5;
    margin-left: 25%;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 0px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #1E88E5;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1E88E5;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px 2px 2px 2px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #1E88E5;
    cursor: pointer;
}



#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #fff;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);

    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}


.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}


.page-header {
    border-bottom: 1px solid rgba(0,0,0,0.87);
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
    margin-bottom:2rem;
}


input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 0 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}



span.badge {
    min-width: 3rem;
    padding: 0 6px;
    margin-left: 14px;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    color: #757575;
    float: right;
    box-sizing: border-box;
}


.bg-red {
    background-color: #FF8A80 !important;
}

.bg-green {
    background-color: #B9F6CA !important;
}


.bg-yellow {
    background-color: #ffff8d !important;
}

.material-icons {
  width: 24px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 8px;}


  .left-silas {
  float: left !important; }


.modal {
    max-height: 100% !important;
}

.fixed
{
    position:fixed;
    background:gray;

}

.hide {
  display: none;
}


#divInserirSobrepor{
  height:80vh;
  width: 81%;
  z-index: 1001;
  position: absolute;
  top: 25%;
  background: #fff;
  padding-left: calc(0.75rem);
  padding-right: calc(0.75rem);
  padding-top: calc(0.75rem);
  padding-bottom: calc(0.75rem);
  border: 20px solid;
  border-color: #1e88e5;
  margin: 0px;
}


#divSobrepor {
  height: 80vh;
  width: 81%;
  z-index: 1001;
  position: absolute;
  top: 10%;
  background: #fff;
  padding-left: calc(0.75rem);
  padding-right: calc(0.75rem);
  padding-top: calc(0.75rem);
  padding-bottom: calc(0.75rem);
  border: 20px solid;
  border-color: #1e88e5;
   margin: 0px;
}


.left {
    float: left !important;
}


.right {
    float: right !important;
}



.rotate {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari 3-8 */
  transform: rotate(180deg);
}





.bordernone{
    focus:none;
    border: none;

}


.btn-flat:focus, .btn-flat:hover {
    background-color: #fff !important;
   
}


button:focus {
    outline: none;
   
}

.btn-full {
    width: 100%;
    text-align: left;
}

.paddingnone {
margin: none;
    

}

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important; } }


select {
    background-color: rgba(255,255,255,0.9);
    
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
}


buttont{
     transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);

}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 3px;
}



.black-text {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

select.browser-default {
    display: block;
}

select {
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
}

